# Environment Variables
BACKEND/.env

# Node Modules
BACKEND/node_modules/

# Logs
*.log
npm-debug.log*

# Uploaded Files
BACKEND/uploads/

# Temporary Excel Uploads
BACKEND/temp/

# OS Files
.DS_Store

# VS Code Settings
.vscode/

# Mac Resource Files
.AppleDouble
.LSOverride
