# Environment Variables
BACKEND/.env

# Node Modules
BACKEND/node_modules/

# Logs
*.log
npm-debug.log*

# Uploaded Files
BACKEND/uploads/

# Temporary Excel Uploads
BACKEND/temp/

# OS Files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# VS Code Settings
.vscode/

# Build / Cache
BACKEND/.cache/
BACKEND/dist/
BACKEND/build/

# Coverage
coverage/

# npm cache
.npm/

# Environment files (optional)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local